.colorboard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 30px);
    gap: 11px;
}

.colorboard .colorbox {
    width: 100%;
    height: 100%;
    background-color: blue;
    cursor: pointer;
}