.pencilboard {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pencilboard button{
    border: none;
    cursor: pointer;
}
.pencilboard button:hover {
    background-color: cadetblue;
    color: black;
}